.hero-section {
    padding-top: var(--spacing-xxl);
    padding-bottom: var(--spacing-xxl);
    background-color: var(--green);
    color: var(--white);

    article {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
    }
}

.student-cards-section {
    padding-top: 0;

    .student-cards-section-title {
        grid-column: 1 / -1;
        margin-top: var(--spacing-md);
        margin-bottom: var(--spacing-sm);
    }
}

@media (min-width: 768px) {
    .hero-section {
        padding-top: var(--spacing-xxxl);
        padding-bottom: var(--spacing-xxxl);
    }
}

@media (min-width: 1024px) {
    .student-cards-section {
        .student-cards-section-title {
            margin-top: var(--spacing-lg);
            margin-bottom: var(--spacing-lg);;
        }
    }
}