.hero-section {
    padding-top: var(--spacing-xxl);
    padding-bottom: var(--spacing-xxl);
    background-color: #000;
    color: var(--white);

    article {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: var(--spacing-md);
        padding-bottom: var(--spacing-md);
    }
}

@media (min-width: 768px) {
    .hero-section {
        padding-top: var(--spacing-xxxl);
        padding-bottom: var(--spacing-xxxl);
    }
}

@media (min-width: 1024px) {
    .hero-section {
        article {
            h1 {
                font-size: 72px;
            }
        }
    }
}