.student-cards-section {
    padding-top: 0;

    .student-cards-section-title {
        grid-column: 1 / -1;
        margin-top: var(--spacing-md);
        margin-bottom: var(--spacing-sm);
    }
}

@media (min-width: 1024px) {
    .student-cards-section {
        .student-cards-section-title {
            margin-top: var(--spacing-lg);
            margin-bottom: var(--spacing-lg);;
        }
    }
}