.member-card {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: var(--spacing-xs);
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

    img {
        max-width: 100%;
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        border-bottom: solid 3px;
    }

    .email-link {
        margin-bottom: 1rem;
    }

    .member-button {
        width: 100%;
    }

}

@media (min-width: 768px) {
    .member-card {
        
        img {
            height: 250px;
        }
    }
}

@media (min-width: 1024px) {
    .member-card {
        padding: 1.5rem;

        img {
            height: 350px;
        }
    }
}