.work-log-section {
    border-top: 1px solid var(--gray-border);
    width: 100%;
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-xl);

    ul {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1rem;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        li {
            display: flex;
            justify-content: space-between;
            background-color: var(--gray-border);
            padding: .75rem;
            border-radius: 5px;
        }
    }
}